@charset "utf-8";
/* CSS Document */
body {
    background-image: url("bgimage_optimized.jpg");
    background-size: cover;
    font-family: sans-serif;   
     }

a {
    text-decoration: none;
    color: darkslateblue;
    
}

h1, h2, h3 {
    margin: 0;
    padding: 25px;
}

blog {
    float: left;
    background-color: #b987d4;
    padding: 30px;
    text-align: center;
    font-size: 30px;
    color: aliceblue;
    width: 840px;
}


article {
    background-color: bisque;
}


article h3 {
    float: left;
    width: 95%;
    height: 100px;
    padding: 20px;
    margin: auto;
    margin-top: -20px;
    background-color: bisque; 
    color: #b987d4;
    font-family: sans-serif;
    font-weight: 500;
}


article h4 {
    float: left;
    width: 95%;
    height: 10px;
    background-color: bisque;
    padding: 20px;
    margin-top: 0px;
    font-size: 10px;
}

table {
    float: left;
    margin-left: -55px;
    /*width: 100%;*/
    /*background-color: bisque;*/
    font-size: 13px;
    font-weight: 100;
    margin-bottom: 10px;
    color: #8a44be;
}

tr {
    float: right;
    margin-top: -5px;
}

.footer h5 {
    /*float: left;*/
    /*margin-left: 200px;*/
    /*margin-top: 20px;*/
    /*float: left;*/
    font-size: 15px;
    margin: 10px;
    font-weight: 600;
    text-align: left;
    color: #fff4cf;
}

#container {
    background-color: #fc9671;
    width: 900px;
    height: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.header {
    color: #b86ee0;
    text-align: left;
}

.footer {
    background-color: #fc9671;
    height: 100px;
    padding: 10px;
    padding-right: 15px;
    font-size: 10px;
    text-align: right;
    text-indent: inherit;
    color: #fff4cf;
}
.content {
    padding: 0;
}

.topnav {
    width: 100%;
    background-color: cadetblue;
    line-height: 35px;
    float: left;
}

.topnav a {
    float: left;
    display: block;
    color: cornsilk;
    text-align: center;
    padding: 15px 15px;
    text-decoration: none;
}

.topnav li {
    list-style: none;
}

.topnav ul {
    float: left;
}

.topnav ul li  {
    float: left;
    list-style: none;
    position: relative;
}

.topnav ul li ul {
    display: none;
    position: absolute;
    background-color: aliceblue;
    padding: 10px;
    border-radius: 0px 0px 4px 4px;
    z-index: 1000;
}

#nav ul li a {
    display: block;
    font-family: sans-serif;
    color: aqua;
    font-size: 14px;
    padding: 24px 14px;
    text-decoration: none;
    
}


.topnav ul li:hover ul {
    display: block;
    margin-top: 55px;
    position: absolute;
    background-color: #ffb59a;
    opacity: 1;
    padding: 10px;
    padding-right: 10px;
    border-radius: 0px 0px 4px 4px;
}

.topnav ul li ul li {
    padding: 6x 12x;
}

.topnav ul li ul li a {
    border-radius: 4px;
}

.topnav ul li ul li a:hover {
    background-color: darkcyan;
}

.slider_image {
    flex: 70%;
    flex-wrap: wrap;
    display: flex;
    background-color: #f5c66e;
    color: white;
    padding: 20px;
}

.flex-container {
    display: flex;
    background-color: bisque;
    justify-content: center;
    clear: both;
}

.flex-container > div {
    background-color: cadetblue;
    color: antiquewhite;
    width: 100%;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
}

.flex-container1 {
    display: flex;
    background-color: #f8dcb7;
    justify-content: center;
    clear: both;
}

.flex-container1 > div {
    background-color: cadetblue;
    color: antiquewhite;
    width: 100%;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
}

.slider_imagef1 {
    flex: 70%;
    flex-wrap: wrap;
    display: flex;
    background-color: #f5c66e;
    color: white;
    padding: 20px;
}

.slider_imagef2 {
    flex: 70%;
    flex-wrap: wrap;
    display: flex;
    justify-content: flex-end;
    background-color: bisque;
    color: white;
    padding: 20px;
    }

.flex-containerab {
    display: flex;
    justify-content: center;
    clear: both;
    background-color: #b987d4;
    padding-bottom: 65px;
    /*margin-left: 20px;
    margin-bottom: 20px;*/
}

.flex-containerab > div {
    width: 75%;
    color: aliceblue;
    margin: 5px;
    text-align: center;
    line-height: 25px;
    font-size: 10px;   
    margin-left: -80px;
    margin-top: 20px;
}

.flex-containerab > div > h3 {
    margin: 0px;
    padding: 0px;
}

.flex-containerab > div > img {
    margin:0px;
}
.flex-containerf1 {
    display: flex;
    justify-content: row;
    clear: both; 
    margin-top: auto;
    background-color: bisque;
}

.flex-containerf1 > div {
    /*background-color: cadetblue;*/
    width: 100%;
    margin: 10px;                                         
    text-align: left;
    line-height: 25px;
    font-size: 12px;
    color: #b86ee0;
    margin-top: 25px;
    font-weight: 550;
}

.flex-containerf1 > img {
    margin-top: 25px;
    margin-right: 25px;
}

.flex-containerf3 {
    display: flex;
    justify-content: row;
    clear: both; 
    margin-top: auto;
    background-color: bisque;
}

.flex-containerf3 > div {
    /*background-color: cadetblue;*/
    width: 100%;
    margin: 10px;                                         
    text-align: left;
    line-height: 25px;
    font-size: 12px;
    color: #b86ee0;
    margin-top: 25px;
    font-weight: 550;
}

.flex-containerf3 > img {
    margin-top: 25px;
    margin-left: 25px;
}

h2f {
    margin: 0;
    padding: 10px;
    font-size: 18px;
}

.flex-containerf2 {
    display: flex;
    background-color: #f8dcb7;
    justify-content: center;
    clear: both;
}

.flex-containerf2 > div {
    background-color: cadetblue;
    color: antiquewhite;
    width: 100%;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
}

.flex-containering {
    display: flex;
    background-color: aliceblue;
    justify-content: center;
    clear: both;
}

.flex-containering > div {
    background-color: cadetblue;
    color: rgb( 203, 183, 255);
    width: 100%;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
}


.flex-containerI1 {
    display: flex;
    background-color: aliceblue;
    justify-content: center;
    clear: both; 
}

.flex-containerI1 > div {
    background-color: cadetblue;
    color: white;
    width: 100%;
    margin: 10px;
    text-align: left;
    font-size: 15px;
    line-height: 20px;
    padding-left: 45px;
    padding-bottom: 20px;
}

.flex-containerI1 > div > h1 {
    background-color: none;
    color: #ffad4d;
    width: 60%;
    margin: 5px;
    text-align: left;
    font-size: 20px;
    line-height: 20px;
    padding-left: 0px;
}

.flex-containerI1 > div > h2 {
    background-color: none;
    color: rgb(203, 183, 255);
    width: 65%;
    margin: 5px;
    text-align: left;
    font-size: 20px;
    line-height: 20px;
    padding-left: 0px;
}

.flex-containerI1 > div > h3 {
    background-color: none;
    color: #fff791;
    width: 60%;
    margin: 5px;
    text-align: left;
    font-size: 20px;
    line-height: 20px;
    padding-left: 0px;
}

.flex-containerI1 > div > div > h4 {
    background-color: none;
    color: #b0ceff;
    width: 60%;
    margin: 11px;
    text-align: left;
    font-size: 20px;
    line-height: 20px;
    padding-left: 0px;
}

.flex-containerI1 > div > div > h5 {
    background-color: none;
    color: #5bddb5;
    width: 60%;
    margin: 10px;
    text-align: left;
    font-size: 20px;
    line-height: 20px;
    padding-left: 0px;
}

.imageuh img {
    width: 850px;
    margin-top: 100px; 
    margin-left: 25px;
    padding-bottom: 25px;
    
}

/*.container{
    padding: 2rem;
}

.slider-wrapper{
    position: relative;
    max-width: 48rem;
    margin: 0 auto;
}

.slider {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 0.25);
    border-radius: 0.5rem;
}

.slider img {
    flex: 1 0 100%;
    scroll-snap-align: start;
    object-fit: cover;
}

.slider-nav {
    display: flex;
    column-gap: 1rem;
    position: absolute;
    bottom: 1.25rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

.slider-nav a {
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
    background-color: #fff;
    opacity: 0.75;
    transition: opacity ease 250ms;
}

.slider-nav a:hover {
    opacity: 1;
}*/

.carousel-wrapper{
    height: 400px;
    position: relative;
    width: 850px;
    margin: 0 auto;
    margin-top: 25px;
    margin-bottom: 25px;
}

.carousel-item{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 25px 50px;
    opacity: 0;
    transition: all 0.5s ease-in-out;
}

.arrow{
    border: solid #b987d4;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 12px;
    margin: 12px;
}

.arrow-prev{
    left: -30px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%) rotate(135deg);
}

.arrow-next{
    right: -30px;
    position: absolute;
    top:50%;
    transform: translateY(-50%) rotate(-45deg);
}

.light{
    color: white;
}

@media (max-width: 480px) {
    .arrow, .light .arrow{
        background-size: 10px;
        background-position: 10px 50%;
    }
}

/*Select every element*/
[id^="item"] {
    display: none;
}

.item-1 {
    z-index: 2;
    opacity: 1;
    background: url('unsplash.com/photo-1591206369811-4eeb2f03bc95?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Nnx8b3JhbmdlJTIwZnJ1aXR8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60');
    background-size: cover;
}

.item-2{
    background: url('unsplash.com/photo-1513682255736-029c3088cf83?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8ODN8fGJlcnJpZXMlMjBmcnVpdHxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60');
    background-size: cover;
}

.item-3{
    background: url('unsplash.com/photo-1440288736878-766bd5839edb?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTF8fGNoaWxkcmVuJTIwcGxheWluZ3xlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60');
    background-size: cover;
}

*:target ~ .item-1 {
    opacity: 0;
}

#item-1:target ~ .item-1 {
    opacity: 1;
}

#item-2:target ~ .item-2, #item-3:target ~ .item-3 {
    z-index: 3;
    opacity:1;
}

.carousel-item.item-2 > h2 {
    color: aliceblue;
    padding-left: 0px;
}

.carousel-item.item-2 > p {
    color: aliceblue;
    margin: 0px;
}

.carousel-item.item-1 > h2 {
    padding-left: 0px;
    color: #974bc1;
}

.carousel-item.item-1 > p {
    margin: 0px;
    color: #a95ad4;
}

.carousel-item.item-3 > h2 {
    padding-left: 0px;
    color: #8fe661;
}

.carousel-item.item-3 > p {
    color: #fff0bd;
    margin: 0px;
}

intro > h4 {
    margin-left: 25px;
    line-height: 2;
    font-size: 25px;
    color: aliceblue;
}
form > label {
    margin-left: 25px;
    color: aliceblue;
    font-size: 18px;
}
